<div class = "left">
	<% if photo.c_image? %>
	<%= image_tag photo.c_image.url(:regular) %>
	<%= link_to(photo.c_image.url, photo.c_image.url)%>
	<% end %>
</div>
<div class = "right">
	<table class = "description">
		<tr>
			<td><%= photo.date %></td>
		</tr>
		<tr>
			<td><%= photo.title %></td>
		</tr>
		<%if photo && photo.comments%>
		<% photo.comments.each do |c| %>
		<tr>
			<td class = "singlecomment"> <%= c.body%> </td>
		</tr>
		<%end%>
		<%else%>
		<tr>
			<td> <%= "no comments available for the photo"%> </td>
		</tr>
		<%end%>
		<tr>
			<td><% photo.geo_location %></td>
		</tr>
		<tr>
			<td class="action">
			<div class = 'new-comment'>
				<%= link_to("Add Comment", {:controller => "comments", :action => "new", :photo_id => photo.id}, :remote => true,:class => "action add comment") %>
			</div></td>
		</tr>
	</table>
</div>
	

