<div class="user list">
	<h2>MyUsers</h2>
	<div class="table">
		<table class="listing" summary="User list">
			<tr class="header">
				<th>&nbsp;</th>
				<th>Avatar</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Date of birth</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
			<% @users.each_with_index do |user,i| %>
			<tr>
				<td> <%= i+1 %> </td>
				<td>
					<% if user.avatar? %>
						<%= image_tag user.avatar.url(:thumb) %>
						</br>
						<%= link_to(user.avatar.url, user.avatar.url)%>
					<% end %>
				</td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td class="center"> <%= user.role_id == 0 ? "Admin":"Manager" %></td>
				<td><%= user.date_of_birth %></td>
				<td><%=user.status %></td>
				<td class="action"> 
					<%= link_to("All Events", { :action => "list_events", :id => user.id},:class => "action list") %>
					<%= link_to("All Photos", { :action => "list_photos", :id => user.id},:class => "action list") %>
					<%= link_to("Edit User",  { :action => "edit_custom",   :id => user.id},:class => "action edit") %>
					<%= link_to("Delete User",{ :action => "delete", :id => user.id},:class => "action delete") %> 
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to("Add new user", {:action => 'sign_up'}, :class => 'back-link') %>
	</div>
</div>
