<div class="show-user">
	<h2>Show User</h2>
	<table class="">
		<tr>
			<td> <%= "1" %> </td>
			<td><%= @user.first_name %></td>
			<td><%= @user.last_name %></td>
			<td><%= @user.user_name %></td>
			<td><%= @user.email %></td>
			<td class="center"> <%= @user.role_id == 0 ? "Admin":"Loh" %></td>
			<td><%= @user.date_of_birth %></td>
			<td><%= @user.status %></td>
			<td><%= @user.created_at %></td>
			<td><%= @user.created_at %></td>
		</tr>
	</table>
</div>
