<div class="subject new">
	<h2>Add photo</h2>
	<%= debug @photo %>
	<%= form_for(@photo) do |f|%>
	<table summary = "Photo form fields">
		<%f.user_id = @photo.user_id%>
		<tr>
			<th>Title</th>
			<td><%= f.text_field(:title) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_field(:description) %></td>
		</tr>
		<tr>
			<th>Date</th>
			<td><%= f.text_field(:date) %></td>
		</tr>
		<tr>
			<th>Where</th>
			<td><%= f.text_field(:geo_location) %></td>
		</tr>
		<tr>
			<th>Uploaded by(user)</th>
			<td></td>
		</tr>
		</table>
		<div class="form-button">
			<%= submit_tag("Upload Photo")	%>
		</div>
		<%end%>
		</div>
