<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title><%= @page_title || 'Personal site' %> A. Обуховский || Админ</title>
		<%= stylesheet_link_tag  'jquery-ui-1.8.19.custom.css' %>
		<%= stylesheet_link_tag    "admin" %>
		<%= javascript_include_tag :application %>	
		<%= javascript_include_tag  'jquery', 'jquery-ui'%>
		<%= csrf_meta_tags %>
		<meta name="author" content="Abukhovski"/>
	</head>
	<body>
		<div class="user_nav">
			<% if user_signed_in? %>
			Signed in as <%= current_user.full_name %>. Not you?
			<%= link_to "Log out", destroy_user_session_path, :method => "delete" %>
			<% if current_user.role_id == 0%>
			<p>
				<%= link_to "View List of Users", users_path %>
			</p>
			<%end%>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path %> or
			<%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</div>
		<div class="header"></div>
		<div class="main">
			<% if !flash[:notice].blank? %>
			<div class="notice">
				<%= flash[:notice] %>
			</div>
			<% end %>
			<% if !flash[:alert].blank? %>
			<div class="alert">
				<p>
					flash[:alert]
				</p>
			</div>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p id="copyright">
				&copy; A.Abukhovski
			</p>
		</div>
	</body>
</html>