<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Community News <%= "| #{@page_title}" if @page_title %></title>
    <meta name="author" content="A. Abukhovski">
    <%= stylesheet_link_tag('public') %>
  </head>
  <body>
    <div id="header">
      <h1>Community News</h1>
    </div>
    <%= link_to("Back to list of all users", {:controller => "users",:action => "list", :class => 'back-link'})%>
    <div id="main">
      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => {:photos => @photos}) %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; A. Abukhovski</p>
    </div>
  </body>
</html>
